[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2.2"
flask-pydantic = "~=0.11.0"
pydantic = "~=1.10.4"
redis = "~=4.4.2"
gunicorn = "~=20.1.0"
psycopg = {version = "~=3.1.6", extras = ["pool"]}
redis-lru = "~=0.1.2"

[dev-packages]
pytest = "~=7.2.1"
yoyo-migrations = "~=8.1.0"
pyclean = "~=2.6.0"
requests = "~=2.28.2"
scrapy = "~=2.8.0"

[requires]
python_version = "~=3.10.6"

[scripts]
load-links = "python utils/client/client.py data/seeds.csv"
